{% extends "templates/layout.html" %}
{% block body %}
<form  method='POST'>
	<div>
		Full Name: <input type='text' name='full_name'>
	</div>
	<div>
		Number: <input type='text' name='emp_number'>
	</div>
	<div>
		<input type='submit' value='Create'>
	</div>
</form>
{% endblock %}