{% extends "templates/layout.html" %}
{% block body%}
<h1>Employees - <a href='/employees/create'>add</a></h1>
<ul>
	{% for employee in employees %}
	<li>{{employee.full_name}}</li>
	{% endfor %}
</ul>
{% endblock %}